* {
    margin: 0;
    padding: 0;
}

body {
    background: #C77949;
}

.wrap {
    width:  100%;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
}

.header {
    height: 10%;
}

.navbar {
        list-style-type: none;
        text-align: center;
      }
.navbar li {
    display: inline;
}

.navbar a, .img-text, .center-line-block p {
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.navbar a {
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
    width: 100px;
}

.column1, .column2, .column3 {
    float:  left;
    min-height: 100%;
    width: 33.33%;
}

.center-line-block {
    width: 100%;
    height: 15%;
    background: gray;
    top: 50%;
    position: absolute;
}

.col2_main_img {
    display: block;
    width: 100%;
    height: 56%;
}

.col_img {
    width: 100%;
    height: 85%;
}

.img-text {
    font-size: 20px;
}

.wrap-img {
    display: block;
    float: left;
    width: 22%;
    height: 200px;
    padding: 0% 4% 0 4%;
    margin-right: 5%;
}

.wrap-img:last-child {
    margin-right: 0;
}

.center-line-block p {
    padding: 4% 4%;
    font-size: 28px;
}

.logo_img {
    display: block;
    position: absolute;
    height: 15%;
    width: 15%;
}

.footer {
    width: 100%;
    height: 45%;
    clear: both;
    margin: auto;
}
